@mixin flex-box($justifyContent,$alignItems){
    display: flex;
    @if($justifyContent !=none and $alignItems !=none){
        justify-content: $justifyContent;
        align-items: $alignItems;
    }
}